:root {
  --primary: #43007f;
  --secondary: #6ba6ff;
  --accent: #fe00d5;
  --dark: #370072;
  --light: #e5fcc2;
}

html {
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
p,
a,
div {
  font-size: 1.6rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}
